.background
{
    z-index: 0;
    background-image: url("../../assets/background.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.munchkin
{
    z-index: 1;
    content: '';
    position: absolute;
    width: 300px;
    height: 400px;
    bottom: 50px;
    left: 100px;
    background-image: url("../../assets/munchkin.png");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;

    animation: munchkin-move 3s linear infinite;
}

@keyframes munchkin-move {
    0% { transform: scaleY(100%) translateY(0%); }
    50% { transform: scaleY(105%) translateY(-2%); }
    100% { transform: scaleY(100%) translateY(0%); }
}