.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "A A A"
    "B B B"
    "B B B"
    "B B B"
    "C C C";
}

.playerList {
    grid-area: A;
}

.scene {
    grid-area: B;
    background-color: green;
}

.handArea {
    grid-area: C;
    background-color: blue;
    display: flex;
    gap: 40px;
}