.miniCardContainer {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cardTypeBadge {
    position: absolute;
    width: 40px;
    top: -20px;
    height: 40px;
    background-color: #FACD96;
    border-color: #4A1914;
    border-width: 4px;
    border-radius: 50%;
    z-index: 2;
}

.miniCard {
    position: relative;
    width: 160px;
    height: 240px;
    background-color: #FACD96;
    border-color: #4A1914;
    border-width: 8px;
    border-radius: 16px;
    text-align: center;
    padding-top: 10px;
}